name: DeployDocumentation

on:
  push:
    branches:
      - master

jobs:
  deploy_documentation:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1

      - name: Build Doxygen Documentation
        uses: mattnotmitt/doxygen-action@v1
        with:
            doxyfile-path: 'doxygen.config'

      - name: Deploy Documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
