name: Benchmarking

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - '.github/workflows/benchmarking.yml'

  # allow manually starting this workflow
  workflow_dispatch:

jobs:
  benchmark:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:jammy
      env:
        CCACHE_DIR: "$GITHUB_WORKSPACE/benchmark/.ccache"
        DEBIAN_FRONTEND: noninteractive
        TZ: Etc/UTC
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: target_ws/src

      - name: Install Depends
        shell: bash
        run: |
          apt update
          apt upgrade -y
          apt install -y liboctomap-dev

      - name: Build
        uses: tesseract-robotics/colcon-action@v13
        with:
          ccache-prefix: benchmarks
          vcs-file: dependencies.repos
          upstream-args: --cmake-args -DCMAKE_BUILD_TYPE=Release
          target-path: target_ws/src
          target-args: --cmake-args -DCMAKE_BUILD_TYPE=Release -DTESSERACT_ENABLE_TESTING=OFF -DTESSERACT_ENABLE_BENCHMARKING=ON -DTESSERACT_ENABLE_RUN_BENCHMARKING=ON -DBENCHMARK_ARGS=CI_ONLY

      - name: Run Benchmarks
        shell: bash
        run: |
          source $GITHUB_WORKSPACE/upstream_ws/install/setup.bash
          source $GITHUB_WORKSPACE/target_ws/install/setup.bash
          cd $GITHUB_WORKSPACE/target_ws
          ./src/.run_combine_benchmark_results

      - name: Store Bullet Discrete, FCL Discrete and Environment benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: C++ Benchmark
          tool: 'googlecpp'
          output-file-path: $GITHUB_WORKSPACE/target_ws/benchmarks/tesseract-benchmark_result.json
          benchmark-data-dir-path: tesseract/dev/bench
          gh-repository: github.com/tesseract-robotics/tesseract_docs
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: false
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: false
          alert-comment-cc-users: '@Levi-Armstrong'
          max-items-in-chart: 20

      - name: Push benchmark result
        uses: cpina/github-action-push-to-another-repository@v1.6
        env:
          SSH_DEPLOY_KEY: ${{ secrets.DOCS_DEPLOY_KEY }}
        with:
          source-directory: benchmark-data-repository/tesseract/dev/bench
          destination-github-username: tesseract-robotics
          destination-repository-name: tesseract_docs
          target-branch: gh-pages
          target-directory: tesseract/dev/bench
