name: Benchmarking

on:
  push:
    branches:
      - master

  # allow manually starting this workflow
  workflow_dispatch:

jobs:
  industrial_ci:
    name: ${{ matrix.env.CI_NAME }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env:
          CI_NAME: Focal-Benchmark
    steps:
      - uses: actions/checkout@v2

      - name: Prepare ccache timestamp
        id: ccache_cache_timestamp
        shell: cmake -P {0}
        run: |
          string(TIMESTAMP current_date "%Y-%m-%d-%H;%M;%S" UTC)
          message("::set-output name=timestamp::${current_date}")

      - name: ccache cache files
        uses: actions/cache@v1.1.0
        with:
          path: ${{ matrix.env.CI_NAME }}/.ccache
          key: ${{ matrix.env.CI_NAME }}-ccache-${{ steps.ccache_cache_timestamp.outputs.timestamp }}
          restore-keys: |
            ${{ matrix.env.CI_NAME }}-ccache-

      - uses: 'ros-industrial/industrial_ci@master'
        env:
          ROS_DISTRO: noetic
          UPSTREAM_WORKSPACE: 'dependencies.rosinstall'
          ROSDEP_SKIP_KEYS: "bullet ros_industrial_cmake_boilerplate fcl iwyu"
          DOCKER_IMAGE: "rosindustrial/tesseract:noetic"
          CCACHE_DIR: "/home/runner/work/tesseract/tesseract/Focal-Benchmark/.ccache"
          UPSTREAM_CMAKE_ARGS: "-DCMAKE_BUILD_TYPE=Release"
          TARGET_CMAKE_ARGS: "-DCMAKE_BUILD_TYPE=Release -DTESSERACT_ENABLE_TESTING=OFF -DTESSERACT_ENABLE_BENCHMARKING=ON -DTESSERACT_ENABLE_RUN_BENCHMARKING=ON -DBENCHMARK_ARGS=CI_ONLY"
          DOCKER_RUN_OPTS: '-v ${{ github.workspace }}/benchmarks:/root/benchmarks'
          AFTER_SCRIPT: '$target_ws/src/tesseract/.run_combine_benchmark_results'

      - name: Store Bullet Discrete, FCL Discrete and Environment benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: C++ Benchmark
          tool: 'googlecpp'
          output-file-path: ${{ github.workspace }}/benchmarks/tesseract-benchmark_result.json
          benchmark-data-dir-path: tesseract/benchmark
          gh-repository: github.com/tesseract-robotics/tesseract_docs
          auto-push: false
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: false
          alert-comment-cc-users: '@Levi-Armstrong'
          max-items-in-chart: 20

      - name: Push benchmark result
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{ secrets.DOCS_DEPLOY_KEY }}
        with:
          source-directory: .
          destination-github-username: tesseract-robotics
          destination-repository-name: tesseract_docs
          target-branch: gh-pages
